/* This file is only for progress bar colours */

:root {
  --system-colors-colors-blue: rgba(0, 122, 255, 1);
  --system-colors-fills-secondary: rgba(120, 120, 128, 0.16);
  --system-colors-backgrounds-primary: rgba(255, 255, 255, 1);
}
